* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #70cbcc;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
    color: rgb(199, 56, 56);
    
}

nav ul {
    list-style: none;
    padding: 0;
    
    
}

nav ul li {
    display: inline;
    margin: 0 1rem;
    color: chartreuse;
    font-size: 20px;
    
}

nav ul li a {
    color: #0c0202;
    text-decoration: none;
    font-size: 20px;
    
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

section h2 {
    margin-bottom: 1rem;
    font-size: 35px;
    font-display: unset;
    color: cornflowerblue;
    text-decoration: underline;

    
}
section p{
    font-size: 25px;

}
section img{
    height: 500px;
    width: 900px;
    float: right;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #e80f0f;
    font-size: 30px;
}


form input,
form select,
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

form button {
    background: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}



form button:hover {
    background: #a42f2f;
}